
body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;

  display: flex;
  justify-content: center;   
  align-items: center;       
  min-height: 100vh;         
  margin: 0;
}
.container {
  width: 900px;
  text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
  justify-content: center;
}
.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
}
.card img {
  width: 100%;
}
.details img {
  width: 300px;
}
